:root {
    --highlight: #8933c2;
    --background: #262629;
    --bodyBackground: black;
    --sideBarBackGround:  #1e1e20;
  }

  html {
    min-height: 100%;
    position: relative;
  }

  body {
    background-color: var(--bodyBackground);
    color: var(--highlight);
  }
  
  span {
    color: var(--highlight);
  }
  
  a {
    color: var(--highlight);
  }
  td{
    object-fit: scale-down;
  }
  .sidebar {
    position: fixed;
    font-weight: 500;
    color: var(--highlight);
    background-color: var(--sideBarBackGround);
    position: fixed;
    left: 0;
    width: 15%;
    height: 100%;
  }

  .board {
    margin-top:3%;
  }
  
  .card-img-top {
    width: 100%;
    height: 200px; 
    object-fit: scale-down;
  }

  .navbarNav {
    position: relative;
    height: 15%;
  }
  
  .navImg {
    height: 100%;
    width: auto;
  }
  