<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.html'); %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="./scripts/script.js"></script>
</head>
<body style=" color: var(--highlight); color: var(--highlight); background-color: black; " >
    <%- include('../partials/header.html'); %>
    
    <%- include('../partials/footer.html'); %>
</body>
</html>