<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.html'); %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="./scripts/script.js"></script>
</head>
<body style=" color: var(--highlight); color: var(--highlight); background-color: black; " >
    <%- include('../partials/header.html'); %>
    <br><br><br>
    <center>
        <h2>Build your own Board online!</h2>
        <h6><i>"Can be classic board games such as chess or the most dangerous dungeon in the world"</i></h6>
        <br><br><br>
        <hr>
        <h3>Content</h3>
        <hr>
    </center>
    <div id="content">
        <section class="vh-70">
          <div class="container py-5 h-70">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem; background-color:  var(--background); ">
                  <div class="row g-0">
                    <div class="col-md-6 col-lg-5 d-none d-md-block">
                      <img src="../css/signin.png"
                        alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                    </div>
                    <div class="col-md-6 col-lg-7 d-flex align-items-center">
                      <div class="card-body p-4 p-lg-5 text-black">
                        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Build your Own Dungeon</h5>
                        <hr>
                        <div class="form-outline mb-4">
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                            Atque earum assumenda itaque. Nobis repellat reprehenderit, 
                            dolorum facere voluptate consectetur. Neque culpa illo, 
                            facilis nobis voluptatem maiores consequuntur quisquam in et?
                        </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    <center>
        <hr>
        <h3>Reviews</h3>
        <hr>
    </center>
    <div class="container mt-5 mb-5">
        <div class="row g-2">
            <div class="col-md-4">
                <div class="card p-3 text-center px-4" style="border-radius: 1rem; background-color:  var(--background); ">
                    <div class="user-image">
                        <img src="../css/user.png" class="rounded-circle" width="80">
                    </div>
                    <div class="user-content">
                        <h5 class="mb-0">Robin</h5>
                        <span>Dungeon Master</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div class="ratings">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i> 
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="card p-3 text-center px-4" style="border-radius: 1rem; background-color:  var(--background); ">
                    <div class="user-image">
                        <img src="../css/user.png" class="rounded-circle" width="80">
                    </div>
                    
                    <div class="user-content">
                        <h5 class="mb-0">Ted</h5>
                        <span>Oca enjoyer</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    
                    <div class="ratings">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card p-3 text-center px-4" style="border-radius: 1rem; background-color:  var(--background); ">
                    <div class="user-image">
                <img src="../css/user.png" class="rounded-circle" width="80">
                    </div>
                    <div class="user-content">
                        <h5 class="mb-0">Barney</h5>
                        <span>Chess Master</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div class="ratings">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br>
    <%- include('../partials/footer.html'); %>
</body>
</html>