<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.html'); %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="./scripts/script.js"></script>
</head>
<body style=" color: var(--highlight); color: var(--highlight); background-color: black; " >
    <%- include('../partials/header.html'); %>
    <br><br><br>
    <center>
        <h2>Build your own Board online!</h2>
        <h6><i>"Can be classic board games such as chess or the most dangerous dungeon in the world"</i></h6>
        <br><br><br>
        <hr>
        <h3>Content</h3>
        <hr>
    </center>
    <div id="content">
        <section class="vh-70">
          <div class="container py-5 h-70">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem; background-color:  var(--background); ">
                  <div class="row g-0">
                    <div class="col-md-6 col-lg-5 d-none d-md-block">
                      <img src="../css/signin.png"
                        alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                    </div>
                    <div class="col-md-6 col-lg-7 d-flex align-items-center">
                      <div class="card-body p-4 p-lg-5 text-black">
                        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Build your Own Dungeon</h5>
                        <hr>
                        <div class="form-outline mb-4">
                        <p>
                            Have you ever found yourself in the situation of having lost 
                            the maps that you had so many years ago? Well, you are in luck,
                            now you can design your maps and save them online. Do you want 
                            to play a game of dungeons and dragons now you only have to print 
                            or project your board and you will be ready to play.
                        </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    <center>
        <hr>
        <h3>Reviews</h3>
        <hr>
    </center>
    <div class="container mt-5 mb-5">
        <div class="row g-2">
            <div class="col-md-4">
                <div class="card p-3 text-center px-4" style="border-radius: 1rem; background-color:  var(--background); ">
                    <div class="user-image">
                        <img src="../css/user.png" class="rounded-circle" width="80">
                    </div>
                    <div class="user-content">
                        <h5 class="mb-0">Robin</h5>
                        <span>Dungeon Master</span>
                        <p>I am a master in my roleplaying group, and thanks to this site I don't have to worry about my drawing skills anymore, I can design the boards I need online and I always have them in a safe place. </p>
                    </div>
                    <div class="ratings">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i> 
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="card p-3 text-center px-4" style="border-radius: 1rem; background-color:  var(--background); ">
                    <div class="user-image">
                        <img src="../css/user.png" class="rounded-circle" width="80">
                    </div>
                    
                    <div class="user-content">
                        <h5 class="mb-0">Ted</h5>
                        <span>Oca enjoyer</span>
                        <p>My name is ted and for years I have been looking for the best goose boards online and I have finally found them thanks to Mapster when I'm bored and I don't know what to do I play goose.</p>
                    </div>
                    
                    <div class="ratings">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card p-3 text-center px-4" style="border-radius: 1rem; background-color:  var(--background); ">
                    <div class="user-image">
                <img src="../css/user.png" class="rounded-circle" width="80">
                    </div>
                    <div class="user-content">
                        <h5 class="mb-0">Barney</h5>
                        <span>Chess Master</span>
                        <p>I am a professional chess player and in my expert opinion to be able to project the board on my table and be able to play with my children without having to worry about anything is the best thing.</p>
                    </div>
                    <div class="ratings">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br>
    <%- include('../partials/footer.html'); %>
</body>
</html>