<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>Mapster</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body style=" color: var(--highlight);" >
    <%- include('../partials/header.html'); %>
    <section class="vh-100" style="background-color: #505257; color: var(--highlight);">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card bg-dark" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center">
      
                  <h3 class="mb-5">Sign in</h3>
      
                  <div class="form-outline mb-4">
                    <input type="email" id="typeEmailX-2" class="form-control form-control-lg bg-dark" value="Email" style="color: var(--highlight); border-color:var(--highlight);"/>
                  </div>
      
                  <div class="form-outline mb-4">
                    <input type="password" id="typePasswordX-2" class="form-control form-control-lg bg-dark" value="Password" style="color: var(--highlight); border-color: var(--highlight);"/>
                  </div>
                  <button class="btn btn-lg btn-block" style="border-color:var(--highlight); color: var(--highlight)" type="submit">Login</button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
    <%- include('../partials/footer.html'); %>
</body>
</html>