<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.html'); %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="./scripts/script.js"></script>
</head>
<body style=" color: var(--highlight); color: var(--highlight); background-color: black; " >
    <%- include('../partials/header.html'); %>
    <section class="vh-100" style="background-color: #505257; color: var(--highlight);">
      <form name="signup" action="/signup" method="post">
        username: <input type="text" name="username" id="username"> <br>
        password: <input type="text" name="password" id="password"> <br>
        <input type="submit" class="btn btn-primary btn-lg" value="Log In">
      </form>
    </section>
    <%- include('../partials/footer.html'); %>
</body>
</html>