<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.html'); %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="./scripts/script.js"></script>
</head>
<body style=" color: var(--highlight); background-color: black; " >
  <%- include('../partials/header.html'); %>
  <div id="content">
    <section class="vh-70">
      <div class="container py-5 h-70">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-xl-10">
            <div class="card" style="border-radius: 1rem; background-color:  var(--background); ">
              <div class="row g-0">
                <div class="col-md-6 col-lg-5 d-none d-md-block">
                  <img src="../css/signin.png"
                    alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                </div>
                <div class="col-md-6 col-lg-7 d-flex align-items-center">
                  <div class="card-body p-4 p-lg-5 text-black">
                    <form name="signup" action="/signin" method="post">
                      <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>
                      <% if (message) { %>
                        <div id="prompt" role="alert">
                          <%= message %>
                        </div>
                      <% } %>
                      <div class="form-outline mb-4">
                        <label class="form-label">Username</label>
                        <input type="text" name="username" id="username" class="form-control form-control-lg"
                          style="background-color: var(--background); border-color:var(--highlight); color: var(--highlight);"/>
                      </div>
                      <div class="form-outline mb-4">
                        <label class="form-label">Password</label>
                        <input type="password" name="password" id="password" class="form-control form-control-lg" 
                          style="background-color: var(--background); border-color:var(--highlight); color: var(--highlight);"/>
                      </div>
                      <div class="pt-1 mb-4">
                        <button class="btn btn btn-lg btn-block" type="submit" 
                          style="border-color:var(--highlight); color: var(--highlight)">
                          Login
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <%- include('../partials/footer.html'); %>
</body>
</html>