<footer class="text-center bg-dark fixed-bottom text-purple">
    <div class="container p-4 pb-0">
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3">Register for free</span>
          <button type="button" id="signup" class="btn btn-outline btn-rounded" style="border-color:var(--highlight); color: var(--highlight)">
            Sign up!
          </button>
        </p>
      </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      <span>© 2023 Copyright:</span>
      <a style="color: var(--highlight)" href="https://mdbootstrap.com/">Mapster.com</a>
    </div>
</footer>
